@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-weight: 500;
	font-family: circular;
	src: url(./assets/fonts/circular/CircularStd-Book.otf);
}

@font-face {
    font-weight: 700;
	font-family: circular;
	src: url(./assets/fonts/circular/CircularStd-Bold.otf);
}

@font-face {
    font-weight: 900;
	font-family: circular;
	src: url(./assets/fonts/circular/CircularStd-Black.otf);
}

:root {
  font-family: circular, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #F3F4F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
